#fullpic {
    overflow-y:hidden;
  background: linear-gradient(rgba(13,110,170,1), rgba(42,200,120,1)) no-repeat center center fixed;
  
}

#container-about {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    padding-top: 24rem;
}

#landing-lead {
    color: white;
    display: block;
    width: 79%;
    font-size: 2.3rem;
    
}

#landing-header {
    color: white;
    font-weight: bold;
    font-size: 6rem;
        
}

.btn {
    font-size: 2.1rem;
    border-radius: 3px;
    padding: .5rem 6rem .5rem 6rem;
    
}

.btn-primary {
    background-color: transparent;
    border-color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: rgba(42,200,120,1);
    background-color: white;
    opacity: 1;
    border-color: #fff; /*set the color you want here*/
}

#button-clear {
    margin-right: 3.5rem;
}





#button-fill {
    background: white;
    color: rgba(42,200,120,1);
}

#button-fill:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: rgba(42,200,120,1);
    opacity: .9;
    border-color: #fff; /*set the color you want here*/
    
}


.footer {
  position: fixed;
  bottom: 4rem;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  
}

.footer a {
  color: white;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease; 
  
}

.footer a:nth-last-child(1) {
  color: white;
    opacity: .5;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease; 
  
}

#language-setting {
    
}


.footer a:hover {
   text-decoration: none;
    
} 

.footer a:hover:nth-last-child(1) {
    opacity: 1;
    text-decoration: none;
    
} 


/* End of Sticky*/


/* Content Footer */
#content-footer {
    position: inherit;
    background:linear-gradient(to right, rgba(13,110,170,1) 0%,  rgba(42,200,120,1) 100%);
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100%;
  line-height: 66px; /* Vertically center the text there */
}

#footer-icons {
    color: white;
    font-size: 2.9rem;
    opacity: 1;
    
}

#content-footer a {
  color: white;
  padding: 20px;
  transition: all .5s ease; 
  
}



#content-footer a:nth-last-child(1) {
  color: white;
  opacity: 1;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease; 
  
}


#content-footer a:hover {
   text-decoration: none;
    color: white;
    opacity: .6;
    
} 


/* Content Footer More Info */






/* Slanted background Start */

#slanted-background {
  height: 35rem;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  background: linear-gradient(rgba(13,110,170,1), rgba(42,200,120,1), rgba(42,200,120,1)) no-repeat center center fixed;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 16%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  margin-bottom: 5rem;  
}

#invest-header {
    color: white;
    margin-top: 11rem;
}

/* Invest Content Meaning Row */


#roth-header {
    font-size: 7rem;
    font-weight: 600;
}

#top-header {
    margin-bottom: 0rem;
}


#p-header {
    font-size: 3.3rem;
    font-weight: 600;
} 

#p-content {
    font-size: 2.2rem;
    margin-top: 2rem;
}

#content-select {
    font-size: 4rem;
    padding-left: 10rem;
}

#content-select i {
    color: lightgray;
}

#meaning-invest {
    margin-bottom: 10rem;
}



#content-buttons {
    padding-top: 12rem;
}

/* Content Animation Start */

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

#invest-content {
   padding-top: 3rem;
    /* This section calls the slideInFromLeft animation we defined above */
  animation: .75s ease-out 0s 1 slideInFromBottom;  
}




@keyframes slideInFromLeft {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translatex(0);
  }
}

#container-about {
   
    /* This section calls the slideInFromLeft animation we defined above */
  animation: .75s ease-out 0s 1 slideInFromLeft;  
}

/* Invest How it Works */


#invest-icons {
    font-size: 10rem; 
    color: rgba(42,155,150,1);
    margin-bottom: 1.5rem;
}

#how-header {
    margin-bottom: 10rem; 
    
}


#how-it-works {
    margin-bottom: 12rem;
}



#button-learn.btn {
    font-size: 1.7rem;
    border-radius: 3px;
    padding: .5rem 3rem .5rem 3rem;
    
}

#button-learn {
    font-size: 1.5rem;
     background-image: linear-gradient(to right, rgba(13,110,170,1) 0%,  #4CB8C4 100%);
    font-weight: 300;
}


#button-learn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    opacity: .9;
    border-color: #fff; /*set the color you want here*/
    background-image: linear-gradient(to right, rgba(13,110,170,1) 0%,  #4CB8C4 60%);
    
}

/* Pro and Con Section */

#invest-procon {
 background: linear-gradient(rgba(13,110,170,1), rgba(13,110,170,1), rgba(42,200,120,1)) no-repeat center center fixed;
  
}

#pro-header {
    color: white;
    margin-bottom: 4rem;
}

#pro-lead {
    color: white;
    margin-bottom: 10rem;
   
}

#pro-button-margin {
    margin-bottom: 17rem;
}

/* Why do it Section */

#why-header {
    margin-bottom: 3rem;
}

#why-lead {
    margin-bottom: 4rem;
}

#button-why.btn {
    font-size: 1.9rem;
    border-radius: 3px;
    padding: .5rem 3rem .5rem 3rem;
    
}

#button-why {
    font-size: 1.5rem;
     background-image: linear-gradient(to right, rgba(13,110,170,1) 0%,  #4CB8C4 100%);
    margin-bottom: 10rem;
    font-weight: 300;
}


#button-why:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    opacity: .9;
    border-color: #fff; /*set the color you want here*/
    background-image: linear-gradient(to right, rgba(13,110,170,1) 0%,  #4CB8C4 60%);
    
}


